$primary-color: #e9e6e6;
//$secondary-color: rgb(127, 31, 102);
$secondary-color: rgb(255, 212, 0);
$tertiary-color: rgb(19, 185, 169);
$tertiary-color-opac: rgba(19, 185, 169, .5);
$quaternary-color: #1bb3ff;
$quaternary-color-dark: #0d2c46;
$background-color-light: #10013f;
$background-color-light-opac: rgb(20, 1, 82, .6);
$background-color-light-opac-two: rgb(20, 1, 82, .3);
$background-color-dark: rgb(2, 1, 10);
$background-color-dark-opac: rgb(2, 1, 10, .6);
$font-family: 'Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif';
$text-alignment: center;
// The size of text never will be minus than 16px or in this case 1rem.
// [ Desktop ]
$author-name-size: 4.5em;  //TODO Set it
$main-title-size: 3.5em;
$second-title-size: 2.5em;
$third-title-size: 1.8em;
$text-base-size: 1.2em;
$text-min-size: 1em;
$grid-gap-content-title: 2em;
$margin-title-section: 1rem 0 2rem 0;
// [ Mobile ]
$mobile-author-name-size: 5em;
$mobile-main-title-size: 5em;
$mobile-second-title-size: 4.5em;
$mobile-third-title-size: 4em;
$mobile-fourth-title-size: 3em;
$mobile-text-base-size: 2.5em;
$mobile-text-min-size: 2.2em;
$mobile-grid-gap-content-title: 4em;
$mobile-margin-title-section: 2rem 0 3rem 0;

$svg-filter-red: brightness(0) saturate(100%) invert(25%) sepia(62%) saturate(3233%) hue-rotate(314deg) brightness(98%) contrast(99%);

//Neon ligths
$neon-green-background: rgb(19, 185, 169);
$neon-green-border: rgba(19, 185, 169, .5);
$neon-blue-background: rgb(8, 139, 204);
$neon-blue-background-opac:rgba(8, 139, 204, .1);
$neon-blue-border: rgba(8, 139, 204, .8);

