@import '_vars.scss';

.active {
    background: $quaternary-color;
    box-shadow: 0 0 5px $neon-blue-border,
    0 0 25px $neon-blue-border,
    0 0 5px $neon-blue-border,
    0 0 100px $neon-blue-border;
}

.inactive {
    background: $quaternary-color-dark;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.dotsContainer {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
}