@import '_vars.scss';

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "content" "icons";
    padding: 2rem 3rem;
    row-gap: 2rem;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "title" "description";
}

.icons {
    justify-content: center;
    grid-area: icons;
    text-align: center;
    display: inline-flex;
}

.content h1 {
    grid-area: title;
    font-size: $second-title-size;
    font-weight: bold;
    color: $primary-color;
    margin: $margin-title-section;
    text-align: center;
    grid-gap: $grid-gap-content-title;
    padding: 0;
}

.content p {
    grid-area: description;
    font-size: $text-base-size;
    color: $primary-color;
    margin: 0;
    padding: 0;
    text-align: $text-alignment;
}


.icons div {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.icons div button {
    margin: 0 1rem;
    width: 4em;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: unset;
}

.icons div button svg {
    transition: all 0.3s ease-in-out;
    filter: $svg-filter-red;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

.icons ul li {
    border-radius: 50%;
    padding: .5em 1em;
}

.icons ul li svg {
    width: 4em;
    height: 4em;
    display: flex;
}

@media (max-width: 1300px) {
    .content h1 {
        font-size: $mobile-main-title-size;
    }

    .content p {
        font-size: $mobile-text-base-size;
    }

    .container {
        grid-gap: $mobile-grid-gap-content-title;
    }

    .content {
        grid-gap: $mobile-grid-gap-content-title;
    }

    .icons ul li svg {
        width: 5em;
        height: 5em;
    }

}