@import '_vars.scss';

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    color: $primary-color;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        font-size: $text-min-size;
        font-family: $font-family;
    }
}

.logo {
    margin-left: 0.5rem;
}