@import '_vars.scss';

.header {
    display: flex;
    padding: 1rem;
    width: 100%;
    place-content: center;
}

.header-title {
    font-size: $second-title-size;
    color: $primary-color;
    margin: 0 3rem; 
    align-self: center;
}

.container {
    display: contents;
    margin: 0 1rem;
    padding: 0;
}

.nav {
    display: inline-flex;
    justify-content: flex-end;
    height: fit-content;
    margin: 1rem 2rem 1rem 18rem;
    text-align-last: end;
}

.nav a {
    text-decoration: none;
    margin: 0 .5rem;
    color: $primary-color;
    font-weight: bold;
    font-size: $text-base-size;
}

.button {
    padding: 0.5rem 1.2rem;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;

    &:hover {
        background: $neon-blue-background;
        border-radius: 5px;
        box-shadow: 0 0 5px $neon-blue-border,
                    0 0 25px $neon-blue-border,
                    0 0 5px $neon-blue-border,
                    0 0 100px $neon-blue-border;
    }
}

.button-mobile {
    padding: 0.5rem 1.2rem;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.menu-mobile-selected {
    background: $neon-blue-background;
    border-radius: 5px;
    box-shadow: 0 0 5px $neon-blue-border,
                0 0 25px $neon-blue-border,
                0 0 5px $neon-blue-border,
                0 0 100px $neon-blue-border;
}

.menu-button-mobile {
    text-align-last: start;
    border: 4px solid $tertiary-color;
    border-radius: 15px;
}

.menu-button-mobile-open {
    text-align-last: start;
    border: 4px solid $tertiary-color;
    border-radius: 15px 15px 0 0;
}

.button-mobile-text-center {
    text-align-last: center;
    border-bottom: 5px rgb(19 185 169 / 34%) solid;
}

.container-nav-mobile {
    background-color: $neon-blue-background-opac;
    margin: 0 0.5rem;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-flow: column;
}

.logo-complete {
    padding:0;
}

.container-mobile {
    display: grid;
    margin: 0 1rem;
    padding: 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "containerButton" "containerNav";
}

.nav-container-button {
    grid-area: containerButton;
}

.nav-container-mobile {
    grid-area: containerNav;
}

@media (max-width: 1200px) {

    .header-title {
        font-size: 5rem;
        text-align: center;
        margin: 0 3rem; 
        align-self: center;
    }

    .header {
        margin-top: 4rem;
        display: block;
    }

    .nav a {
        font-size: $mobile-second-title-size;
        text-align: center;
        padding: 2rem 3rem;
    }

    .nav {
        display: block;
        margin: 0;
    }

    .container {
        display: flex;
        margin: 0 0 2rem 0;
        flex-flow: column;
    }
}