@import '_vars.scss';

.textColor {
  color: $primary-color;
}

.main {
  min-height: 100vh;
  padding: 3rem 0;
  flex: 1;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 2rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 1200px) {
  .main {
    grid-gap: 7rem;
  }

  .container {
    max-width: 68rem;
    min-width: 65rem;
    margin: 0 auto 0 auto;
    display: grid;
    background: linear-gradient(180deg, rgb(2 1 10) 25%, 75%, rgb(20 1 82));
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (min-width: 1200px) and (max-width: 3000px) {
  .main {
    max-width: 75rem;
    margin: 0 auto;
    display: grid;
    min-width: 65rem;
  }

}