@import '_vars.scss';

.textColor {
  color: $primary-color;
}

.main {
  min-height: 100vh;
  padding: 3rem 0;
  flex: 1;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 2rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 1200px) {
  .main {
    grid-gap: 4rem;
    padding: 0;
  }

  .container {
    max-width: 64rem;
    min-width: 63rem;
    margin: 0 auto 0 auto;
    display: grid;
    background: $main-gradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
    row-gap: 4rem;
  }
}

@media (min-width: 1200px) and (max-width: 12000px) {
  .main {
    max-width: 64rem;
    margin: 0 auto;
    display: grid;
    min-width: 62rem;
  }
}