@import '_vars.scss';

.container {
    position: relative;
    margin: .5rem 2rem;
}

.labelText {
    margin: 20px 0 0 20px;
    padding: 0 20px 0 20px;
    cursor: initial;
    position: absolute;
    top: 0;
    font-size: $text-base-size;
    color: $primary-color;
    background-color: $background-color-light;
    -webkit-transition: top .2s ease-in-out, 
    font-size .2s ease-in-out;
    transition: top .2s ease-in-out, 
    font-size .2s ease-in-out;
    border-radius: 50% 50% 0 0;
}


.input {
    width: 100%;
    margin: 10px;
    padding: 13px;
    border-radius: 5px;
    font-size: $text-base-size;
    background-color: $background-color-light;
    color: $primary-color;

    &:focus {
        outline: none;
    }
} 

.active {
    padding: 0 10px 0 10px;
    margin-left: 30px;
    top: -25px;
    font-size: 20px;
    color: $quaternary-color;
}

.textarea {
    width: 100%;
    padding: 13px;
    margin: 10px;
    border-radius: 5px;
    font-size: $text-base-size;
    background-color: $background-color-light;
    color: $primary-color;
    height: 200px;
    resize: none;

    &:focus {
        outline: none;
    }
}

.isValid {
    border: 2px solid $tertiary-color;
}

.isInvalid {
    border: 2px solid $neon-red-background;
}

.inputBorder {
    border: 2px solid $quaternary-color;
}

@media (max-width: 1200px) {
    .container {
        position: relative;
        text-align: center;
        margin: 1rem 2rem;
    }
    
    .labelText {
        margin: 30px 0 0 20px;
        padding: 0 0 0 20px;
        font-size: $mobile-text-base-size;
    }
    
    .input {
        width: 90%;
        margin: 15px;
        padding: 20px;
        font-size: $mobile-text-base-size;
    } 
    
    .textarea {
        width: 90%;
        margin: 15px;
        padding: 20px;
        font-size: $mobile-text-base-size;
        color: $primary-color;
        height: 300px;
    }

    .active {
        font-size: $mobile-text-min-size;
        background-color: $background-color-light;
        padding: 0 10px 0 10px;
        margin-left: 30px;
        top: -45px;
    }
}