@import '_vars.scss';

.wrapper {
    display: block;
    position: fixed;
    background-color: $background-color-dark-opac;
    z-index: 24;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
}

.content {
    width: 40%;
    max-width: 760px;
    top: 28%;
    left: 30%;
    right: 30%;
    display: block;
    position: absolute;
    border-radius: 30px;
    background-color: rgb(16, 3, 54);
    border: 3px solid $neon-blue-background;
    box-shadow: 0 0 5px $neon-blue-border, 
                0 0 25px $neon-blue-border, 
                0 0 5px $neon-blue-border, 
                0 0 100px $neon-blue-border;
}

.container {
    margin: 2em;
    text-align: center;
}

.title {
    font-size: $second-title-size;
    color: $primary-color;
}

@media (max-width: 1200px) {
    .content {
        width: 85%;
        top: 20%;
        left: 7.5%;
        right: 7.5%;
    }

    .message {
        font-size: $mobile-text-base-size;
    }
    
    .title {
        font-size: $mobile-second-title-size;
    }
}