@import '_vars.scss';

.container-presentation {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: "Title Image";
    padding: 2rem 3rem;
    column-gap: 2em;
}

.title {
  margin: $margin-title-section;
  line-height: 1.15;
  font-size: $main-title-size;
}

.description {
    margin: 3rem 0;
    line-height: 1.5;
    font-size: $text-base-size;
}

.title,
.description {
    text-align: left;
    color: $primary-color;
}

.title-container {
    grid-area: Title;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container p {
    margin: 0;
    font-size: $text-base-size;
}

.photo-container {
    grid-area: Image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.photo {
    border-radius: 50px;
}

@media (max-width: 1200px) {
    .container-presentation {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas: "Image" "Title" ;
        row-gap: 4rem;
        padding: 2rem 3rem;
    }

    .title {
        font-size: $mobile-main-title-size;
        text-align: center;
    }

    .description {
        font-size: $mobile-text-base-size;
        text-align: center;
    }

    .title-container p {
        font-size: $mobile-text-base-size;
    }
    
    .authorName {
        margin: 0 0 5rem 0;
        text-align: center;
    }

    .photo-container {
        width: fit-content;
        justify-self: center;
    }
}