@import '_vars.scss';

.container {
    width: 100%;
    height: 600px;
    background-size: cover;
    cursor: pointer;
}

.info-container {
    position: absolute;
    top: 0px;
    margin: 10% 0%;
    right: 15%;
    left: 15%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "description" "button";
    height: inherit;
    row-gap: 1.5em;
}

.info-description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-description h1 {
    font-size: $main-title-size;
    color: $primary-color;
}

.info-description p {
    font-size: $text-base-size;
    color: $primary-color;
}

.info-button {
    grid-area: button;
    display: contents;
    align-items: center;
}

.project-button {
    width: 75%;
    margin: 2% 12.5%;
    padding: 13px;
    font-size: $text-base-size;
    border: 2px solid $tertiary-color;
    background-color: $background-color-light-opac;
    color: $primary-color;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;

    &:hover {
        background: $neon-blue-background;
        border-radius: 5px;
        box-shadow: 0 0 5px $neon-blue-border,
                    0 0 25px $neon-blue-border,
                    0 0 5px $neon-blue-border,
                    0 0 100px $neon-blue-border;
    }
}

@media (max-width: 1200px) {
    
    .info-description h1 {
        font-size: $mobile-main-title-size;
    }
    
    .info-description p {
        font-size: $mobile-text-base-size;
    }

    .project-button {
        font-size: $mobile-text-min-size;
    }

    .info-container {
        margin: 5% 10%;
        right: 0;
        left: 0;
    }

}