@import '_vars.scss';

.container {
    height: 600px;
    background-size: cover;
    cursor: pointer;
}

.titleBox {
    color: $primary-color;
    padding: 0.5rem 1.5rem;
    font-size: $second-title-size;
    background-color: $background-color-dark-opac;
    width: fit-content;
    height: fit-content;
    margin: 1% 0 0 1%;
    display: inline-flex;
    float: left;
}

.techIcons {
    background-color: $background-color-dark-opac;
    padding: 1em;
    column-gap: 1em;
    margin: 54% 2% 0 0;
    float: right;
    display: inline-flex;
    align-items: center;
}

.techIcons div {
    display: flex;
}

.behind {
    z-index: -1;
}

.info-container {
    position: absolute;
    top: 0px;
    margin: 10% 15%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "description" "button";
    height: inherit;
    row-gap: 1.5em;
}

.info-description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-description h1 {
    font-size: $main-title-size;
    color: $primary-color;
}

.info-description p {
    font-size: $third-title-size;
    color: $primary-color;
}

.info-button {
    grid-area: button;
    display: contents;
    align-items: center;
}

.project-button {
    width: 75%;
    margin: 2% 12.5%;
    padding: 13px;
    font-size: $text-base-size;
    border: 2px solid $tertiary-color;
    background-color: $background-color-light-opac;
    color: $primary-color;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;

    &:hover {
        background: $neon-blue-background;
        border-radius: 5px;
        box-shadow: 0 0 5px $neon-blue-border,
                    0 0 25px $neon-blue-border,
                    0 0 5px $neon-blue-border,
                    0 0 100px $neon-blue-border;
    }
}

.project-icon-container {
    width: 3em;
    height: 3em;
}


@media (max-width: 1200px) {

    .info-description h1 {
        font-size: $mobile-main-title-size;
    }

    .info-description p {
        font-size: $mobile-text-base-size;
    }

    .project-button {
        font-size: $mobile-text-min-size;
    }

    .info-container {
        margin: 5% 4%;
    }

    .titleBox {
        font-size: 3.5em;
    }

    .techIcons {
        margin: 53% 2% 0 0;
    }
    
    .project-icon-container {
        width: 3.7em;
        height: 3.7em;
    }

}