@import '_vars.scss';

.timelineItem {
    height: 100%;
    position: relative;
    margin: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background: $background-color-light;
    padding: 1.5rem;
    border-radius: 8px;
    min-width: 230px; //TODO tocar para ajustar a responsive
    min-height: 185px;
    border: 2px solid $quaternary-color;
    text-align: left;
    transition: transform 0.3s ease;
    z-index: 10;

    &:hover {
        background: $background-color-light;
        transform: translateY(-5px);
        box-shadow: 0 0 5px $neon-blue-border,
                   0 0 25px $neon-blue-border,
                   0 0 5px $neon-blue-border,
                   0 0 100px $neon-blue-border;
        z-index: 99999;
    }
}

.date {
    color: $secondary-color;
    font-size: $text-min-size;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.title {
    color: $primary-color;
    font-size: $fourth-title-size;
    margin: 0.5rem 0;
}

.company {
    color: $tertiary-color;
    font-size: $text-base-size;
    margin: 0.5rem 0;
}

.description {
    color: $primary-color;
    font-size: $text-base-size;
    margin: 0.5rem 0 0;
}

.point {
    width: 20px;
    height: 20px;
    background: $quaternary-color-dark;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.pointInner {
    width: 12px;
    height: 12px;
    background: $neon-red-background;
    border-radius: 50%;
    box-shadow: 0 0 5px $neon-red-background,
                0 0 25px $neon-red-background,
                0 0 5px $neon-red-background,
                0 0 100px $neon-red-background;
}

.lineToBox {
    position: absolute;
    width: 7px;
    background-color: $tertiary-color;
    opacity: 0.8;
    border-radius: 15px;
}

.top {
    justify-content: start;

    .point {
        bottom: 50%;
        left: 35%;
        transform: translateY(50%);
    }

    .lineToBox {
        left: -65%;
        bottom: 82%;
        transform: rotate(-35deg);
    }
}

.bottom {
    justify-content: end;

    .point {
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }

    .lineToBox {
        left: -65%;
        top: 85%;
        transform: rotate(35deg);
    }
}

@media (max-width: 1200px) {
    .timelineItem {
        width: 85%;
        margin: 2rem 0;
    }

    .content {
        background: $background-color-light;
        width: 80%;
        margin: 0 0 0 4rem;
        z-index: 0;

        &:hover {
            z-index: 0;
        }
    }

    .point {
        width: 40px;
        height: 40px;
    }

    .pointInner {
        width: 24px;
        height: 24px;
    }

    .date {
        font-size: $mobile-text-min-size;
    }

    .title {
        font-size: $mobile-text-base-size;
    }

    .company {
        font-size: $mobile-text-min-size;
    }

    .description {
        font-size: $mobile-text-base-size;
    }

    .lineToBox {
        display: none;
    }

    .top, .bottom {
        .content {
            margin: 0 0 0 4rem;
        }

        .point {
            bottom: 0%;
            left: 47.5%;
            top: -8%;
            bottom: 0%;
            transform: translateY(0%);
        }
    }

    .top {
        right: 5%;

        .point {
            left: 53.2%;
        }
    } 
    
    .bottom {
        right: -5%;

        .point {
            left: 41.5%;
        }
    }
}
